@tailwind base;
@tailwind components;
@tailwind utilities;

*{margin: 0px; padding: 0px; box-sizing: border-box;}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background: #f5f0f0;

    
  }
  .link:hover{color:#ff5252 ; text-decoration: none;}
.container {
  width: 100% !important;
  max-width: 1400px !important;
  margin: auto !important;
}
/* header .top-strip{
    border-top: 1px solid rgba(0,0,0, 0.1);
    border-bottom:1px solid rgba(0,0,0, 0.2);
    
}/

/* .sliderhome{overflow: hidden !important;} */
/* @layer components {
    .swiper-button-prev,
    .swiper-button-next {
      @apply flex items-center justify-center bg-white rounded-full w-8 h-8 min-w-[2rem] shadow;
    }
  
    .swiper-button-prev::after,
    .swiper-button-next::after {
      @apply text-black text-sm;
    }
  } */
  
/* .homecatslider .swiper-button-prev{width: 30px; height: 30px; min-width: 30px;} */
/* .MuiTab-root.MuiTab-textColorPrimary.Mui-selected {
    color: #ff5252 !important;
  } */
  /* .MuiTab-root.MuiTab-textColorPimary {
     color: #ff5252 !important;
  } */
/* .MuiButtonBase-root  {color: #ff5252 !important;} */
/* MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary css-1usuzwp-MuiButtonBase-root-MuiTab-root */
.swiper-pagination-bullet-active{background: #ff5252ff !important;}
.homev2 .swiper-slide-active .info{right: 0 !important; opacity: 1;}
.homev2 .swiper-slide-active .info h4{right: 0 !important; opacity: 1;}
.homev2 .swiper-slide-active .info h2{right: 0 !important; opacity: 1;}
.homev2 .swiper-slide-active .info h3{right: 0 !important; opacity: 1;}

.homev2 .info h4{transition-duration: 2s;}
.homev2 .info h2{transition-duration: 2.3s;}
.homev2 .info h3{transition-duration: 3s;}
.btn-org{background: #ff5252 !important; color: #f5f0f0 !important ; font-weight: 500 !important;}
.btn-org:hover{background: black !important;}
.itemViewAction button.active svg{color: #ff5252 !important; opacity: 1;}

.itemViewAction Button.active   svg{
  background-color: rgba(0,0,0,0.1) !important;
  border: 1px solid black;
}

.Swiperzoom .swiper-button-next {
  top: auto !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 40px !important;
  border-radius: 0;
  background: #ff5252 !important;
  
}
.Swiperzoom .swiper-button-prev {
  top: 0 !important;
  bottom: auto !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  height: 40px !important;
  border-radius: 0;
  background: #ff5252 !important;
}
.Swiperzoom .swiper-button-next::after,
.Swiperzoom .swiper-button-prev::after {
  transform: rotate(90deg);
  color: white;
  font-size: 16px;

}
/* Swiper ke default blue navigation arrows hide karne ke liye */
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.text{
  color: #ff5252 !important;
}
.add{
  background: #ff5252 !important;
  color: #f5f0f0  !important;
  transition: background 0.3s ease, color 0.3s ease !important; 
   
}
.add:hover{
  background: black !important;
  color: white !important;

}
.heart:hover{
  color: #ff5252 !important;
}
.reviews:hover{
color:#ff5252 !important
}
.Dialog{
  width: 60% !important;
  height: 50% !important;

  
}
.button{
  background: #ff5252 !important;
  color:white !important;
}
.button:hover{
  background: black !important;
}
.panel{
  width: 500px;
}
.MuiDrawer-paperAnchorRight {
  width: 30% !important;
}
.second{
  height: 70% !important;
}


